.todoList {
  display: grid;
  justify-content: center;
  height: 100vh;
}

.todoListItem {
  margin-top: 8rem;
  height: max-content;
  padding: 20px 20px;
  width: 40rem;
}

/* .todoList-item > div form { */
.form {
  display: flex;
}

.inputTodo,
.buttonAddTodo {
  padding: 15px 15px;
}

.inputTodo {
  flex: 1;
  margin-right: 10px;
  font-size: 15px;
}

.todoListData {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: rgb(223, 223, 223);
}

.todolistDataItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
}

.todoName {
  flex: 1;
  text-align: start;
  font-size: large;
}

.done {
  text-decoration: line-through;
}

.buttonTodo {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}
